@model IEnumerable<AirLine.Modules.Class.Airline>

@{
    ViewBag.Title = "Home Page";
}

@{
    var option = new List<SelectListItem>
{

    new SelectListItem {Text = "All", Value = ""},
        new SelectListItem {Text = "First", Value = "1"},
        new SelectListItem {Text = "Business", Value = "2"},
        new SelectListItem {Text = "Economy", Value = "3"}

    };



}


<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Welcome</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-lg-5">
                @Html.TextBox("airlineName", "", new { @class = "form-control-lg  ", placeholder = "Search", arialabel = "Search" })
            </div>
            <div class="col-lg-5">
                @Html.DropDownList("category", option, new { @class = "form-control-lg" })
            </div>
            <div class="col-lg-2">
                <button class="btn  btn-lg btn-outline-success ">Search</button>
            </div>
        </div>

    </div>
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>*@
@*<th>
        @Html.DisplayNameFor(model => model.Address)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Age)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PassportId)
    </th>*@
@*<th>
                @Html.DisplayNameFor(model => model.BookingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TravelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>*@
@*<td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PassportId)
    </td>*@
@*<td>
            @Html.DisplayFor(modelItem => item.BookingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TravelType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            <img src="data:image/png;base64,@Convert.ToBase64String(@item.Photo, 0, @item.Photo.Length)" alt="@item.Name" style="width:300px" />
        </td>

    </tr>
        }

    </table>*@
<div class="row">
    
        @foreach (var item in Model)
        {
            @Html.Partial("_Airline", item)
        }
    
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
