@model IEnumerable<AirLine.Modules.Class.User>

@{
    ViewBag.Title = "GetAllUsers";
}

<h2>GetAllUsers</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
@if (TempData["Message2"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message2"]
    </div>
}
else
{

}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TravelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TravelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "GetUsers", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
